*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Segoe UI",Arial,sans-serif;
}
/*--------- HEADER CSS  -----------*/
header{
	background: url('img/photographer.jpg');
	background-size: 100% 100%;
	min-height: 500px;
}
.header-content{
	margin: 0px auto;
}
.header-box{
	width: 300px;
	height: 200px;
	border: 1px solid white;
	margin: 0px auto;
	margin-top: 145px;
	
}
.header-box h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
	padding-top: 10px;  

}
.header-box p{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	padding-bottom: 10px;
}
.nav{
	bolder-radius:5px;
	margin-top: -20px;
	height: 60px;
}
.menu{
	width: 300px;
	min-height: 20px;
	background: white;
	margin: 0px auto;
	
}	
.menu ul li{
	list-style: none;
	float: left;
	padding-top: 11px;
}
.menu ul li a{
	text-decoration: none;
	color: #000;
	padding: 10px;
}
.menu ul li a:hover{
	background: #ddd;
	border-radius: 5px; 
	padding: 10px; 
	
}   
/*--------- GALLERY CSS  -----------*/

.gallery-bg{
}
.gallery-image1{
	height: 500px;
	background: url('img/1.jpg');
	background-size: cover; 
	margin: 10px 50px; 
}
.gallery-image2{
	height: 500px;
	background: url('img/falls2.jpg');
	background-size: cover; 
	margin: 10px 50px; 
}
.gallery-image3{
	height: 500px;
	background: url('img/mountains2.jpg');
	background-size: cover; 
	margin: 10px 50px;  
}
.gallery-image4{
	height: 500px;
	background: url('img/mountainskies.jpg');
	background-size: cover; 
	margin: 10px 50px;  
}
.gallery-image5{
	height: 500px;
	background: url('img/ocean2.jpg');
	background-size: cover; 
	margin: 10px 50px;  
} 
.contact-content{
	margin: 10px 50px;
	background: #ddd; 	
}
.contat-title{
	min-height: 150px;
	margin-top: 20px;
	margin: 20px;
}
.contat-title h1{
	text-align: center;
	text-transform: capitalize;
	padding-top: 50px;
	color: #231e1e;
}
.contat-title p{
	padding-top: 20px;
	color: #231e1e;
}
.contact-form{
	min-height: 200px;
}
.contact-form{
	margin: 20px;
}

input[type=text] {
	width: 100%;
	padding: 10px 0px;
}
input[type=email] {
	width: 100%;
	padding: 10px 0px;
	margin-right: 20px;
}
form button{
	width:100%;
	padding: 10px;
	background: #616161;
	margin-top: 15px;
}
form button:hover{
	background: #a89c9c;
}
form button a{
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	padding-top: 10px;
}
.copyright{
	min-height: 80px;
	margin: 20px;
}
.copyright{}